html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

#header {
  background-color: #f8f9fa;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e9ecef;

  #title-logo {
    display: flex;
    align-items: center;

    #logo {
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }

    h2 {
      margin: 0;
      color: #333;
    }
  }

  h1{
    margin: 0;
  }
}

#nav-menu {
  display: flex;
  gap: 20px;
  align-items: center;

  a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    padding: 10px;
    transition: color 0.3s ease;
    border: 1px solid transparent;

    &:hover {
      color: #05b705;
      border-color: #05b705;
    }

    p {
      margin: 0;
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

thead {
  background-color: #f8f9fa;
}

th:last-child, td.buttons-table {
  width: 20%;
}

th, td {
  padding: 10px;
  border: 1px solid #e9ecef;
  text-align: left;
}

td.buttons-table {
  width : 100%;
  display: flex;
  gap : 10px;
  align-items: center;
  justify-content: center;

  form {
    margin: 0 5px;
    
    button {
      background-color: #f8f9fa;
      color: #333;
      font-size: 14px;
      padding: 10px;
      cursor: pointer;
      transition: color 0.3s ease;
      border: 1px solid transparent;
      min-width: 90px;
      max-width: 120px;
  
      &:hover {
        background-color: transparent;
        color: #05b705;
        border-color: #05b705;
      }
    }
  
    #publier{
      border-color: #05b705;
  
      &:hover {
        color :#05b705;
      }
    }
  
    #depublier {
      border-color: #aa0000;
  
      &:hover {
        color:#aa0000
      }
    }
  
  }
}

#departement-form {
  display: flex;
  align-items: center;
  gap: 10px;

  label {
    font-size: 16px;
    color: #333;
  }

  select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #e9ecef;
  }

  button {
    padding: 10px;
    font-size: 16px;
    background-color: #f8f9fa;
    border: 1px solid #05b705;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #05b705;
      color: white;
    }
  }
}

#card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1, p{
    text-align: center;
  }

  #form-auth, #form-modification-entree, #form-new-departement, #form-new-entree, #form-register {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 35%;

    div {
      display: flex;
      gap: 10px;

      label {
        font-size: 16px;
        color: #333;
      }

      input, textarea {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #e9ecef;
        width: 100%;
      }

      textarea {
        resize: vertical;
      }
    }

    button {
      padding: 10px;
      font-size: 16px;
      background-color: #f8f9fa;
      border: 1px solid #05b705;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #05b705;
        color: white;
      }
    }
  }
}