<html>
<head>
    <meta charset="utf-8">
    <!--<link rel="stylesheet" href="{{ base_path() }}/scss/main.scss">-->
    <link rel="stylesheet" href="../../../public/scss/main.scss">
    <title></title>
</head>
<body>
<div id="header">
    <h2 class="title">WebDirectory</h2>
</div>
<section id="main">

    {% block content %}

    {% endblock %}

</section>
</body>
</html>