<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ base_path() }}/scss/main.scss">
    <title></title>
</head>
<body>
<div id="header">
    <p class="title"><a class="title" href="/">WebDirectory</a></p>
</div>
<section id="main">

    {% block content %}

    {% endblock %}

</section>
</body>
</html>