{% extends "Index.twig" %}

{% block content %}
    <div id="home">

        <form action="/departement/create" method="post" id="form-new-departement">
            <div><label for="nom"></label><input type="text" id="nom" name="nom" placeholder="Nom"></div>
            <div><label for="etage"></label><input type="number" id="etage" name="etage" placeholder="Étage"></div>
            <div><label for="description"></label><textarea id="description" name="description" placeholder="Description"></textarea></div>
            <br>
            <button  type="submit">Create</button>
        </form>
    </div>
{% endblock %}