{% extends "Index.twig" %}

{% block auth %}

    {% if connecte %}

        <a href="{{url_for('getRegister', {},{})}}"><p>CREATION UTILISATEUR</p></a>
        <a href="{{url_for('logout', {},{})}}"><p>DECONNEXION</p></a>

    {% else %}

        <a href="{{url_for('getAuth', {},{})}}"><p>CONNEXION</p></a>

    {% endif %}

{% endblock %}

{% block content %}
    <div id="card">
        <h1 class="titre">Authentification</h1>
        <form action="/auth/" method="post" id="form-auth">
            <div><label for="email"></label><input type="email" id="email" name="email" placeholder="email"></div>
            <div><label for="password"></label><input type="password" id="password" name="password" placeholder="password"></div>
            <input type="hidden" name="csrf" value="{{ csrf }}">
            <button  type="submit">Authentification</button>
        </form>
    </div>
{% endblock %}